<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.mq1.player.parity.ParityHostActivity"
            android:theme="@style/Theme.MQPlayer"
            android:exported="false" />
    </application>
</manifest>
